<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    {% render 'scripts_styles' %}
    <title>{{ component.title }}</title>
</head>
<body style="margin: 0;">
    {% render 'header' %}
    <main>
      <div class="builder-section">
      {{ content }}
      </div>
      <div class="builder-section">
      <h2>Production Versions</h2>
      <ul>
      {%- for component-version in component-versions %}
        {% if component-version.tag == component.tag and component-version.production == true %}
          <li><a href="/component/{{ component-version.tag | slugify }}/{{ component-version.version | slugify }}/index.html">
          {{ component-version.version }}</a></li>
        {% endif %}
      {% endfor -%}
      </ul>
      </div>
      <div class="builder-section">
      <h2>Development Versions</h2>
      <ul>
      {%- for component-version in component-versions %}
        {% if component-version.tag == component.tag and component-version.production == false %}
          <li><a href="/component/{{ component-version.tag | slugify }}/{{ component-version.version | slugify }}/index.html">
          {{ component-version.version }}</a></li>
        {% endif %}
      {% endfor -%}
      </ul>
      </div>
    </main>
    {% render 'footer' %}
</body>
</html>