<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Preconnect -->
    <link rel="dns-prefetch" href="//cdn.brand.illinois.edu">
    <link rel="dns-prefetch" href="//cdn.disability.illinois.edu">
    <link rel="dns-prefetch" href="//onetrust.techservices.illinois.edu">

    <!-- Illinois Toolkit -->
    <link rel="icon" href="https://cdn.brand.illinois.edu/favicon.ico">
    <link rel="stylesheet" href="https://cdn.brand.illinois.edu/illinois.css">
    <link rel="stylesheet" href="https://dev.toolkit.illinois.edu/ilw-global/3.0.0-alpha/ilw-global.css">

    <link rel="stylesheet" href="/stylesheets/component.css">
    <title>{{ title }}</title>
</head>
<body style="margin: 0;">
    {% render 'header' %}
    <main>
      <div class="builder-section">
      {{ content }}
      </div>
      <div class="builder-section">
      <h2>Table of Contents</h2>
      <ul>
      {%- for component-version in component-versions %}
        {% if component-version.production %}
          <li><a href="/component/{{ component-version.tag | slugify }}/{{ component-version.version | slugify }}/index.html">
          {{ component-version.title }} ({{ component-version.type }}) {{ component-version.version }}</a>: {{ component-version.description }}</li>
        {% endif %}
      {% endfor -%}
      </ul>
      </div>
    </main>
    {% render 'footer' %}
</body>
</html>