<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    {% render 'scripts_styles_toolkit' %}
    <title>{{ title }}</title>
    <style>
      code {
          background: #e7e7f7;
          font-size: 1.2rem;
          overflow-wrap: break-word;
      }
      ilw-page-title img {
         -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
      }
    </style>
</head>
<body style="margin: 0;">
<ilw-page class="ilw-margin ilw-font">
    {% render 'header' %}
    <main>
      <ilw-content>
      {{ content }}
      </ilw-content>
      <ilw-content>
      <h2>Issues</h2>
      <p>We use Github to track issues. Because these are dispersed across multiple repositories, the below link contains a query that checks all the repositories listed and displays all the issues.</p>
      <p><a class="ilw-button" href="{{ slug | generateGithubIssuesLink: components }}">Github Issues</a></p>
      <h2>List of Github Repositories</h2>
      <ul>
      {%- for component in components %}
          <li><strong><a href="{{ component.github }}">{{ component.title }} / {{ component.element-name }} ({{ component.type }})</a></strong> <br />See <a href="{{ component.github }}/issues">a list of known issues for {{ component.element-name }}</a><br /><a href="{{ component.github }}/issues/new">Create a new issue for {{ component.element-name }}</a></li>
      {% endfor -%}
      </ul>
      </ilw-content>
      <ilw-spacer></ilw-spacer>
    </main>
    {% render 'footer' %}
</ilw-page>
</body>
</html>
