<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    {% render 'scripts_styles_toolkit' %}
    <title>{{ title }}</title>
</head>
<body style="margin: 0;">
<ilw-page class="ilw-margin ilw-font">
    {% render 'header' %}
    <main>
      <ilw-content>
      {{ content }}
      </ilw-content>
      <ilw-content>
      <h2>Issues</h2>
      <p>We use Github to track issues. Because these are dispersed across multiple repositories, the below link contains a query that checks all the repositories listed and displays all the issues.</p>
      <p><a class="ilw-button" href="{{ slug | generateGithubIssuesLink: components }}">Github Issues</a></p>
      <h2>List of Github Repositories</h2>
      <ul>
      {%- for component in component-versions %}
          <li><a href="{{ component.github }}">{{ component.tag }} ({{ component.type }})</a></li>
      {% endfor -%}
      </ul>
      </ilw-content>
    </main>
    {% render 'footer' %}
</ilw-page>
</body>
</html>