<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    {% render 'scripts_styles' %}
    <title>{{ title }}</title>
</head>
<body style="margin: 0;">
    {% render 'header' %}
    <main>
      <div class="builder-section">
      {{ content }}
      </div>
      <div class="builder-section">
      <h1>Components</h1>
      <table>
      <caption class="ilw-sr-only">Component Information</caption>
      <tr>
      <th scope='col'>Name</th>
      <th scope='col'>Toolkit Version</th>
      <th scope='col'>Latest Production Version</th>
      <th scope='col'>Latest Development Version</th>
      </tr>
      {%- for component in components %}
          <tr>
          <td class="named"><a href="/component/{{ component.tag | slugify }}/index.html">{{ component.title }}</a></td>
          <td>
          {% if component.toolkit-version == '' %}
          N/A
          {% else %}
          <a href="/component/{{ component.tag | slugify }}/{{ component.toolkit-version | slugify }}/index.html">{{ component.toolkit-version }}</a>
          {% endif %}
          </td>
          <td>
          {% if component.production-version == '' %}
          N/A
          {% else %}
          <a href="/component/{{ component.tag | slugify }}/{{ component.production-version | slugify }}/index.html">{{ component.production-version }}</a>
          {% endif %}
          </td>
          <td>
          {% if component.development-version == '' %}
          N/A
          {% else %}
          <a href="/component/{{ component.tag | slugify }}/{{ component.development-version | slugify }}/index.html">{{ component.development-version }}</a>
          {% endif %}
          </td>
          </tr>
      {% endfor -%}
      </table>
    </main>
    {% render 'footer' %}
</body>
</html>