<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    {% render 'scripts_styles_toolkit' %}
    <title>{{ title }}</title>
    <style>
      code {
          background: #e7e7f7;
          font-size: 1.2rem;
          overflow-wrap: break-word;
      }
      ilw-page-title img {
         -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
      }
    </style>
</head>
<body style="margin: 0;">
  <ilw-page class="ilw-margin ilw-font">
    {% render 'header' %}
    <main>
      {%- if title_background %}
        <ilw-page-title width="full" {% if title_background_color %}style="background: {{ title_background_color }}"{% endif %}>
          <img src="{{ title_background }}" alt="" slot="background">
          <h1>{{ title }}</h1>
        </ilw-page-title>
        <ilw-spacer></ilw-spacer>
      {%- else %}
        <ilw-content>
          <h1>{{ title }}</h1>
        </ilw-content>
      {%- endif %}
      {%- if lede %}
        <ilw-content mode="lede">
          <p>{{ lede }}</p>
        </ilw-content>
      {% endif %}
      <ilw-content>
        {{ content }}
      </ilw-content>
      <ilw-spacer></ilw-spacer>
    </main>
    {% render 'footer' %}
  </ilw-page>
</body>
</html>